app/test/config_monitor.log*
.tmp
target/
.DS_Store
/.idea
*.iml
target
bin
bak
.pmd
.project
.settings
.classpath
.idea.xml
.idea
.metadata
*.class
*.bak
*.iml
*.ipr
*.iws
*.eml
*.log
bak
*.bat
log.txt
logs/

ui/src/page/.umi
ui/src/page/.umi-production
webroot/public/
webroot/view/

node_modules/
ui/dist/*
flaming-react/node_modules/
flaming-react/i18n-messages/
flaming-react/dist/
flaming-react/.idea
